* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: linear-gradient(135deg, #f7f0fb, #e6f3f8);
  min-height: 100vh;
}

/* TOPO */
.topo {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  padding: 20px 24px;
  border-bottom: 1px solid #e5e7eb;
}

.topo a {
   text-decoration: none;
  background: #f1dbf9;
  color: #16011b;
  padding: 10px 18px;
  border-radius: 50px;
  font-size: 14px;
  transition: 0.2s;
}

.topo a:hover{
   background-color: #6f3d81;
  color: #e8bcff;
  cursor: pointer;
}


.topo h1{
    margin-right: 45%;
    color: #3a1a4f;
}

/* CONTAINER */
.container {
  max-width: 900px;
  margin: 32px auto;
  padding: 24px;
  background: #ffffffcc;
  border-radius: 18px;
  box-shadow: 0 20px 40px rgba(0,0,0,0.08);
}

/* IDENTIFICAÇÃO */
.identificacao {
  margin-bottom: 32px;
  font-size: 15px;
  color: #3a1a4f;
}

.identificacao p {
  margin-bottom: 6px;
}

/* CARD */
.card {
  margin-bottom: 32px;
  padding: 20px;
  border-radius: 14px;
  background: #fff;
  border: 1px solid #e6d9f2;
}

.card h2 {
  font-size: 16px;
  color: #4a135f;
  margin-bottom: 14px;
}

/* INPUT FILE */
input[type="file"] {
  display: block;
  margin-bottom: 16px;
  font-size: 14px;
  cursor: pointer;
}

input[type="file"]::file-selector-button {
  cursor: pointer;
}


/* BOTÃO */
button {
  padding: 9px 15px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: linear-gradient(135deg, #7b2cbf, #9d4edd);
  color: #fff;
}

button:hover{
    background:#9d4edd ;
}

/* LISTA */
.lista-arquivos {
  list-style: none;
}

.lista-arquivos li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
  border-bottom: 1px dashed #d6cbe0;
  font-size: 14px;
}

.lista-arquivos span {
  color: #3a1a4f;
}

.acoes-arquivo {
  display: flex;
  gap: 10px;
}

.acoes-arquivo button {
  background: #ede9fe;
  color: #4a135f;
  font-size: 13px;
  padding: 6px 12px;
  border-radius: 10px;
}

#btn-voltar {
  padding: 7px 12px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  font-size: 14px;
  background: #9d4edd;
  color: #fff;
  transition: 0.2s;
}

#btn-voltar:hover{
    background: #6f3d81;
}




/* IMPRESSÃO */
@media print {
  body {
    background: white;
  }

  .topo,
  button,
  input[type="file"] {
    display: none;
  }

  .container {
    box-shadow: none;
    margin: 0;
  }

  .card {
    border: none;
    padding: 0;
  }
}


@media (max-width: 768px) {

  .topo {
    gap: 60px; /* espaço entre botão e título */
  }

  .topo h1 {
    position: static;      /* remove o absoluto */
    transform: none;
    text-align: center;
    font-size: 22px;
  }

  .topo a {
    align-self: flex-start; /* botão fica à esquerda */
  }


}
    